body {
  /* font-family: "Georgia", serif; */
  font-family: "Arial", sans-serif;
  font-size: 1.2em;
  /* background: radial-gradient(circle, #42006f, #000); #0a002b */
  background: linear-gradient(
    #1b004e 0%,
    #42006f 10%,
    #1b004e 20%,
    #42006f 30%,
    #1b004e 40%,
    #42006f 50%,
    #1b004e 60%,
    #42006f 70%,
    #1b004e 80%,
    #42006f 90%,
    #1b004e 100%
  );
  /* background: repeating-radial-gradient(
    circle,
    #42006f 0,
    #42006f 10px,
    #1b004e 10px,
    #1b004e 20px
  ); */
  color: #fff/* #42006f */;
  text-align: center;
}

nav {
  background: radial-gradient(circle, #000 70%, transparent 100%);
  padding: 0.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  /* border-radius: 50px; */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.8em 1.5em;
  display: block;
  text-align: center;
  transition: background-color 0.5s;
  border-radius: 10px;
}

nav a:hover {
  background-color: #42006f;
}

img {
  max-height: 12em;
  float: left;
}

h1 {
  font-family: "Georgia", serif; 
  font-size: 2em;
  margin: .8em .8em;
}

h2 {
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  font-size: 1.5em;
  margin: 1em 1em;
}

.event {
  width: 80vw;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.event1 {
  background: linear-gradient(135deg, #1b004e, #42006f);
  border: 2px solid #d00;
}
.event1 h3 {
  color: #d00;
  text-transform: uppercase;
}

.event2 {
  background: linear-gradient(135deg, #1b004e, #42006f);
  border: 2px solid yellowgreen; /* #33e */
}
.event2 h3 {
  color: yellowgreen;
  text-transform: uppercase;
}

.date,
.conductor,
.location,
.repertoire {
  font-style: italic;
  opacity: 0.8;
}

.description {
  margin-top: 10px;
  /* font-size: 1.1em; */
}


.buy-tickets a {
  display: inline-block; /* allows width, height, and margin to work properly */
  padding: 0.8em 1.5em;
  background-color: transparent; /* button background color */
  color: #fff;
  text-decoration: none; /* remove underline */
  border-radius: 10px;
  transition: background-color 0.5s;
}
.event1 .buy-tickets a:hover {
  background-color: #d00; /* hover color */
}
.event2 .buy-tickets a:hover {
  background-color: yellowgreen; /* hover color */
}


@media screen and (max-width: 500px) {
  body {
    background: white;
  }

  nav ul {
    flex-direction: column;
  }
}
