h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  color: #209723;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: black;
  color: #209723;
}

.full-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 700px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  box-sizing: border-box;
  border: 6px solid #209723;
  background-color: black;
}

.full-img img {
  width: 100%; /* Ensure the image scales to fit the width of the container */
  height: 100%; /* Ensure the image scales to fit the height of the container */
  object-fit: contain; /* Scale the image to fit within the container while maintaining aspect ratio */
  overflow: hidden; /* Prevent any overflow */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 400px;
}

button {
  border: 0;
  background: #209723;
  color: black;
  text-shadow: 1px 1px 1px white;
  border: 1px solid #209723;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background: black;
  color: #209723;
}

.alt-text {
  font-size: 1.5rem;
  color: #209723;
  text-align: center;
}


.thumb-bar {
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  max-height: 80px;
  object-fit: cover;
  overflow: hidden;
  float: left;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumb-bar img:hover {
  transform: scale(1.1);
  border-color: black;
}