body {
  font-family: "Jura", sans-serif;
  font-size: 1.2em;
  background: linear-gradient(
    #070013 0%,
    #200035 10%,
    #070013 20%,
    #200035 30%,
    #070013 40%,
    #200035 50%,
    #070013 60%,
    #200035 70%,
    #070013 80%,
    #200035 90%,
    #070013 100%
  );
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url('sky.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0; padding: 0;
}

.logo h1 {
  font-size: 2em;
  margin: 0em; padding: 0em;
  margin-top: 0.2em;
  text-shadow: 0 0 10px #fff;
  max-width: 10em;
}

.logo img {
  max-height: 3.5em;
  width: auto; /* auto width ensures the aspect ratio is preserved */
  height: auto; 
  margin: 0; padding: 2em 1em 2em 1em;

}
#p1 {
  position: relative;
  animation-name: animationp1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes animationp1 {
  0% {
    top: 0em;
  }
  25% {
    top: -0.7em;
  }
  50% {
    top: 0em;
  }
  75% {
    top: 0.7em;
  } 
  100% {
    top: 0em;
  } 
}

#p2 {
  position: relative;
  animation-name: animationp2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes animationp2 {
  0% {
    top: 0em;
  }
  25% {
    top: 0.7em;
  }
  50% {
    top: 0em;
  }
  75% {
    top: -0.7em;
  } 
  100% {
    top: 0em;
  } 
}


nav {
  background: radial-gradient(circle, #000 65%, transparent 100%);
  padding: 0.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.8em 1.5em;
  display: block;
  text-align: center;
  transition: background-color 0.5s;
  border-radius: 10px;
}
nav a:hover {
  background-color: #42006f;
}


h2 {
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  font-size: 2em;
  margin: 1em 1em;
  color: white;
}


.event {
  width: 80vw;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  background: transparent;
  /* background: linear-gradient(135deg, #1b004e, #42006f); */
  border: 2px solid #FBB20D; /* #d00 */
}

.event h3 {
  color: #FBB20D;
  font-family: "Jura", sans-serif; /* "Georgia", serif; "Arial", sans-serif */
  text-transform: uppercase;
}

.date,
.conductor,
.location,
.repertoire {
  font-style: italic;
}
.date strong,
.conductor strong,
.location strong,
.repertoire strong {
  font-style: italic;
  color: aqua;
}

.description {
  margin-top: 10px;
}

.buy-tickets a {
  display: inline-block; /* allows width, height, and margin to work properly */
  padding: 0.8em 1.5em;
  background-color: transparent; /* button background color */
  color: #fff;
  text-decoration: none; /* remove underline */
  border-radius: 10px;
  transition: background-color 0.5s;
}
.event .buy-tickets a:hover {
  background-color: #FBB20D; /* hover color */
}


#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 45px;
  border: none;
  border-radius: 50%;
  background-color: #42006f; 
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center;
  transition: text-shadow 0.5s;
}
#backToTop:hover {
  text-shadow: 0 0 12px #fff;
}


footer {
  background: radial-gradient(circle, #000 65%, transparent 100%);
  padding: 0.5em;
  color: white;
  text-align: center;
}
footer a, footer a:visited, footer a:hover, footer a:active {
  color: #fff;       /* or whatever color you prefer */
  text-decoration: none; /* optional, remove underline */
}



@media screen and (max-width: 450px) {
  nav ul {
    flex-direction: column;
  }

  .logo {
    flex-direction: column;
  }

  .logo h1 {
    border: none;
    margin: 0em; padding: 0em;
  }

  .logo img {
    border: none;
    margin: 0em; padding: 0.5em;
  }

  #p1 {
    position: relative;
    margin-top: 0.7em;
    margin-bottom: 0.6em;
  }
  #p2 {
    position: relative;
    margin-top: 0.6em;
    margin-bottom: 0.7em;
  }
}