/* Basic styles - Consider improving these */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    background-image: url('anthony_background.jpg');
    background-repeat: no-repeat; 
    background-size: cover;       
    background-position: top center; 
    background-attachment: fixed; 
    max-height: 95vh;
}

h1 {
    font-family: "Press Start 2P", system-ui;
}

/* everything but the titles is in a flexbox with row direction*/
#input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* frame on the left with the game */
#game-area {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0;
}

#player {
    width: 19px;
    height: 45px;
    object-fit: contain; 
    object-fit: cover; 
    position: absolute;
    left: 50px; /* Initial position */
    top: 200px; /* Initial position */
    z-index: 10;
    user-select: none; /* Prevent text selection highlighting */
}

.obstacle-block {
    width: 50px;
    height: 45px;
    background-color: black;
    border: 1px solid #CFB87C;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #CFB87C;
    box-sizing: border-box;
}

#initial-comment {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #f0f0f0;
    width: 400px;
    max-width: 95%;
    box-sizing: border-box;
}

#phone-display {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    font-family: monospace;
    letter-spacing: 2px;
    padding: 10px;
    border: 1px solid black;
    background-color: #f0f0f0;
    min-height: 30px;
    width: 400px; /* Match game area */
    max-width: 95%;
    box-sizing: border-box;
}

#restart-button {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    /* display: none; Comment out to hide it initially */
}
#restart-button:hover {
    background-color: black;
    color: #CFB87C;
}

#funny-message1 {
    position: fixed;
    bottom: 90px;
    left: 67%;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #f0f0f0;
    max-width: 95%;
    box-sizing: border-box;
}

#funny-message2 {
    position: fixed;
    bottom: 10px;
    left: 81%;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #f0f0f0;
    max-width: 95%;
    box-sizing: border-box;
}

/* where all the text on the right is */
#text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* explostion particles */
.particle {
    position: absolute; 
    width: 5px;         
    height: 5px;
    background-color: red; 
    border-radius: 50%;  
    pointer-events: none; /* so they dont't interfere with clicks */
    z-index: 20;
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }